html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  gap: 20px; 
}

li {
  margin-left: 15px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: #6A8D92;
    color: white;
    padding: 0 20px;
    margin: 0;
    width: 100%;
    height: 70px;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    z-index: 1000;
}

.navbar h1 {
    margin: 0;
    padding-right: 30px;
    font-size: 24px;
    white-space: nowrap;
}

#mainText {
    text-decoration: none;
    color: #F4F4F4;
}

.navItem {
    text-decoration: none;
    color: #F4F4F4;
    padding: 0 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 100%;
    transition: background 0.2s;
}

.navItem:hover {
    background-color: rgb(71, 125, 175);
}

#instagramLogo {
    background-image: url('./images/instagramLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #6A8D92;
    width: 50px;
    height: 50px; 
    display: inline-block; 

}

.content-section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.one {
    background-image: url(./images/landscape.jpg); 
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
}

.one::after {
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: radial-gradient(
    circle, 
    rgba(0, 0, 0, 0) 60%, 
    rgba(0, 0, 0, 0.4) 100%
  );
  
  pointer-events: none;
}

.two {
    background-image: url(./images/novelBackground.jpg);
}

.one h1 {
    position: absolute;
    top:15%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: 'Playfair Display', serif;
}
.one h3 {
    position: absolute;
    top:33%;
    left:62%;
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 1.1rem;
    opacity: 0.9;
}

.one small {
    position: absolute;
    top:11%;
    left:50%;
    color: #ebe1ab;
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display', serif;
}

.one p {
    position: absolute;
    bottom: 10%;
    left: 50%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    opacity: 80%;
}

#subText {
    bottom: 5%;
}

.two h1 {
    position: absolute;
    top:20%;
    left:20%;
    color: #F4F4F4;
    font-weight: 700;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: 'Playfair Display', serif;
}

#password-input {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff; 
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
    outline: none;
    width: 250px;
    transition: border-color 0.4s;
}

#password-input:focus {
    border-bottom: 2px solid #A2C4C9;
}

#password-input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-style: italic;
}


.hobbies-container {
    display: flex;
    height: 80vh;
    width: 100%;
    font-family: 'Playfair Display', serif;
}

.panel {
    flex: 1;
    transition: all 0.6s cubic-bezier(0.25,0.46,0.45,0.94);
    overflow: hidden;
    position: relative;
    filter: grayscale(80%); 
    padding: 70px;
}

.panel h3, .panel p {
    margin: 20px;
}

.panel:hover {
    flex: 5;
    filter: grayscale(0%);
}

.coding {
    background-image: url(./images/codingBackground.jpg);
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
}

.coding p, .drifting p, .k1 p, .class p {
    opacity: 50%;
}

.coding:hover p, .drifting:hover p, .k1:hover p, .class:hover p {
    opacity: 100%;
}

.drifting {
    background-image: url(./images/driftBackground.webp);
}

.k1 {
    background-image: url(./images/k1Background.jpg);
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
}

.k1 h3, .k1 p ,.coding h3, .coding p, .drifting h3, .drifting p, .class h3, .class p{
    color: rgb(255, 255, 255);
    font-size: x-large;
}

.class {
    background-image: url(./images/classBackground.jpg);
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
}

.footer {
    height: 20vh;
    width: 100%;
    background-color: rgb(211, 144, 224);
    font-family: Arial, Helvetica, sans-serif;
    border-top: #000000 20px;
}

.footer p {
    margin-left: 30px;
}

.footer h2 {
    margin-left: 10px;
    padding: 10px;
}

#line {
    position: absolute;
    left: 0;
    bottom: 19%;
    width: 100%;
    height: 30px;
    background-color: #af7ac5;
    z-index: 9999;
}