html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: #6A8D92;
    color: white;
    padding: 0 20px;
    margin: 0;
    width: 100%;
    height: 70px;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    z-index: 1000;
}

.navbar h1 {
    margin: 0;
    padding-right: 30px;
    font-size: 24px;
    white-space: nowrap;
}

#mainText {
    text-decoration: none;
    color: #F4F4F4;
}

.navItem {
    text-decoration: none;
    color: #F4F4F4;
    padding: 0 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 100%;
    transition: background 0.2s;
}

.navItem:hover {
    background-color: rgb(71, 125, 175);
}

#instagramLogo {
    background-image: url('./images/instagramLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #6A8D92;
    width: 50px;
    height: 50px; 
    display: inline-block; 

}

.content-section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.one {
    background-image: url(./images/landscape.jpg); 
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
}

.two {
    background-image: url(./images/novelBackground.jpg);
}

.one h1 {
    position: absolute;
    top:15%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: 'Playfair Display', serif;
}
.one h3 {
    position: absolute;
    top:33%;
    left:62%;
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 1.1rem;
    opacity: 0.9;
}

.one small {
    position: absolute;
    top:11%;
    left:50%;
    color: #ebe1ab;
    transform: translate(-50%, -50%);
    font-family: 'Playfair Display', serif;
}

.two button {
    position: absolute;
    top:50%;
    left:50%;
    text-decoration: none;
    color: #F4F4F4;
    border-radius: 20px;
    height: 200px;
    width: 400px;
    font-size: 100px;
    padding: 0 25px;
    transform: translate(-50%, -50%) scale(1);
    background-color: #3c5558;
    border-color: white;
    font-family: 'Playfair Display', serif;
}

.two button:active {
    transform: translate(-50%, -50%) scale(0.8);
    transition: 0.05s ease-in-out;
}

.two h1 {
    position: absolute;
    top:20%;
    left:20%;
    color: #F4F4F4;
    font-weight: 700;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-family: 'Playfair Display', serif;
}