html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    background-color: #6A8D92;
    color: white;
    padding: 0 20px;
    margin: 0;
    width: 100%;
    height: 70px;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
    z-index: 1000;
}

.navbar h1 {
    margin: 0;
    padding-right: 30px;
    font-size: 24px;
    white-space: nowrap;
}

#mainText {
    text-decoration: none;
    color: #F4F4F4;
}

.navItem {
    text-decoration: none;
    color: #F4F4F4;
    padding: 0 25px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 100%;
    transition: background 0.2s;
}

.navItem:hover {
    background-color: rgb(71, 125, 175);
}

#instagramLogo {
    background-image: url('./images/instagramLogo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #6A8D92;
    width: 50px;
    height: 50px; 
    display: inline-block; 

}